<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstoneii.iclassify"
    android:versionCode="4"
    android:versionName="1.1.0" >
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
 	
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.capstoneii.iclassify.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.capstoneii.iclassify.viewpager.ViewPagerIntro"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="drawer.MainDrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="descisiondiscussflip.DescTreeLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        
        <activity
            android:name="descisiondiscussflip.DescTreeObjectives"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        
        
        <activity
            android:name="knearestdiscussflip.KNearestLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="knearestdiscussflip.KNearestObjectives"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="bayesdiscussflip.NativeBayesLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="bayesdiscussflip.NativeBayesObjectives"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
          //Simulation
        <activity
            android:name="com.capstoneii.iclassify.simulation.desiciontree.SimulStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.capstoneii.iclassify.simulation.desiciontree.SimulProcessIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.capstoneii.iclassify.simulation.desiciontree.SimulProblemActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.capstoneii.iclassify.simulation.desiciontree.SimulDatasetActivity" />
     //Video
        <activity
            android:name="com.capstoneii.iclassify.videos.VideoMenuActivity"
            android:label="Videos"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name="com.capstoneii.iclassify.videos.VideoDecisionTree" />
        <activity android:name="com.capstoneii.iclassify.videos.VideoKNearestActivity" />
        <activity android:name="com.capstoneii.iclassify.videos.VideoNAtiveBayesianActivity" />
        <activity
            android:name="com.capstoneii.iclassify.videos.IntroductionVideo"
            android:theme="@style/Theme.AppCompat.Light" />
      //Assessment
        <activity
            android:name="com.capstoneii.iclassify.assessment.decisionid3.DecisionTreeAssessmentActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.assessment.decisionid3.DecisionTreeAssessmentDynamicFirstQuestionActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.assessment.decisionid3.DecisionTreeAssessmentJumbleWord"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.assessment.decisionid3.DecisionTreeQuestionSets"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.assessment.knn.KnnAssessmentActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.assessment.knn.KNNAssessmentDragAndDrop"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.assessment.bayesian.BayesianAssessmentActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.assessment.bayesian.BayesianAssessmentDragAndDrop"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.problems.SimpsonsDecisionTreeFragment"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.QuizResultActivity"
            android:theme="@style/Theme.AppCompat.Light"  />
        <activity
            android:name="com.capstoneii.iclassify.QuizResultBayesian"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.QuizResultDecision"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.assessment.bayesian.QuizResultAssessment"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.assessment.decisionid3.DecisionTreeRandomQuiz"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.assessment.bayesian.BayesianRandomQuiz"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.capstoneii.iclassify.assessment.knn.KNNRandomQuiz"
            android:theme="@style/Theme.AppCompat.Light" />
        
        <activity
            android:name="com.capstoneii.iclassify.problems.SimpsonQuizProblemResult"
            android:theme="@style/Theme.AppCompat.Light" />
        ;
    </application>

</manifest>